
<div>
    
    <!-- Transpose the table     -->
    <div class="settings-pane-host">
        <div class="pane-row">
            <div class="pane-row-title">Transponse</div>
            <div class="positions-holder">
                <div data-ng-class="{ selected: !model.transpose }" 
                     data-ng-click="setStyle('transpose', false)" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: !model.transpose }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Disable</div>
                </div>
                <div data-ng-class="{ selected: model.transpose }" 
                     data-ng-click="setStyle('transpose', true)" class="radio-option-item">
                    <div class="custom-radio-btn" data-ng-class="{ selected: model.transpose }"></div>
                    <div class="radio-option-separator"></div>
                    <div class="radio-option-caption">Enable</div>
                </div>
            </div> 
        </div>
    </div>

</div>